.preview-container {
  padding: 0 20px 20px 20px;
  float: left;
  margin-left: 600px;

}

.crop-preview {
  margin: 0 10px 10px 0;
  display: block;
  border: 1px solid green;
  position: relative;
  overflow: hidden;
}

.crop-preview__normal {
  width: 406px;
  height: 195px;
}

.crop-preview__smaller {
  width: 203px;
  height: 114px;
}

.crop-details {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
}
